  *{
    margin: 0;
    padding: 0;
  }
  .keyword-main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .name {
      flex: 20vw 0 0;
      margin: 0;
      padding: 15px;
      input{
        width: 100%;
        font-size: 23px;
      }
    }
    .section{
      display: flex;
      flex-flow: column nowrap;
      margin: 5px 10px;
      .mini-title {
        font: {
          size: 14px;
        }
        margin: 0;
        padding: 0;
        flex: 12px 0 0;
      }
      .content{
        display: flex;
        flex-flow: row nowrap;
      }
      .content.show_details{
        flex-flow: column nowrap;
        .item.related.show_details{
          display: flex;
          flex-flow: row nowrap;
          .item-name{
            width: 100%;
          }
          input.number_input{
            max-width: 40px;
          }
          .item-relevance{

          }
        }
      }
    }
    .related-section {

    }
    .alias-section {

    }
  }
