@import '../../scss/fonts.scss';
@import '../../scss/standard_stuff.scss';
@import '../../scss/form.scss';
@import '../../scss/colours.scss';

$topbar_button_margin: 5px;
div#topbar-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0;
  height: 80px;
	padding-left: 15px;
	padding-left: 45px;
  // margin: 0 0 0 auto;
  div#topbar{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 1700px;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
		a.topbar-button#logoTopLeft{
			@include link-button;
		}
    div.topbar-group{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0 0;
    }
  }
}
a.topbar-button{
  @include link-button;
  padding: 0 15px;
  margin: 0 $topbar_button_margin;
  font-family: $poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 50px;
  height: 50px;
  letter-spacing: -0.02em;
  color: $text_0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  &#signin{
    margin-right: 10px;
  }
  &#signup{
    border: 1px solid #FFFFFF;
    margin-left: 10px;
  }
  &:hover{
    color: darken($text_0, 10%);
  }
}
