$bg_0: #27272B;
// $bg_1: #242424;
$bg_2: #323236;
$bg_2b: #404345;
$bg_3: #54545C;
$accent_primary: #BB2299;
$accent_primary_lighter: #FD26CD;
$accent_blue_desaturated: #3E4EDF;
$accent_secondary: #7045CC;
$text_0: #FFFFFF;

$lightGrey: #F2F2F2;
$grey: #6E6E6E;
