@import '../../scss/colours.scss';
@import '../../scss/form.scss';
.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 196px;
	height: 100%;
	background-color: $bg_2;
}

.modal {
	position: fixed;
	height: 100%;
	width: 196px;
	margin: 0;
	padding: 0;
	// max-width: 45em;
	// max-height: calc(100vh - 4em);
	// overflow: auto;
	// transform: translate(-50%,-50%);
	// padding: 1em;
	// border-radius: 0.2em;
	// background: white;
}

button {
	display: block;
}

div#sidebarContentContainer{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	padding-top: 30px;
	a.sidebar-button{
		@include link-button;
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		margin-right: auto;
		div.icon-wrapper{
			margin: 0;
			padding: 0; // will be overriden inside the for loop to fix individual icon offsets
			color: $text_0;
		}
		div.sidebar-text{
			@include force-vertical-text-centering(30px);
			margin-left: 10px;
			font-family: $poppins;
			font-style: normal;
			font-weight: 300;
			font-size: 19px;
			letter-spacing: -0.02em;
			color: $text_0;
		}
	}
}

div#fullHeightContainer{
	position: fixed;
	height: 100%;
	min-width: 0px;
	width: 0px;
}
