@import '../scss/standard_stuff.scss';
main.fullscreen-flex-page{
	@include force-width(100vw);
  min-height: 100vh;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  padding: 0;
  margin: 0;
}

